/* SETTINGS-------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}



UTILS------------------------------------------------------
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

DEBUG---------------------------------------------------------


.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
  border: 3px dashed red;
}
 */

header {
  height: 80px;
}
.link-no-style {
  color: inherit;
  text-decoration: none;
}

.container-fluid {
  height: calc(100vh - 130px);
  background-color: aquamarine;
}

#game-board {
  border: 2px solid black;
  width: 600px;
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  color: black;
}

.box.bomb {
  background-color: red;
  color: aquamarine;
}

.box-100 {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.box-81 {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.box-49 {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.box.nobomb {
  background-color: black;
  color: aquamarine;
}

footer {
  height: 50px;
}
